<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<h1>Students</h1>

<% students.forEach((student) => { %>
<% if (!student.instructor) { %> 
    <a href="/students/<%= student._id %>"><%= student.githubUserName %></a>
    <% } %>
<% }) %>


<%- include('../_partials/footer') %>