<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>


<main class="container text-center">
  <div class="students">
    <h1><span class="student-header">Students</span></h1>
    <ul class="all-students">
    <% students.forEach((student) => { %>
      <% if (!student.instructor) { %> 
        <li><a href="/students/<%= student._id %>"><%= student.githubUserName %></a></li>
      <% } %>
    <% }) %>
    </ul>
    <br>
    <a id="backHome" href="/"><button class="btn btn-success">Back to Home</button></a>
    <br>
  </div>
</main>


<%- include('../_partials/footer') %>