<<<<<<< HEAD
<h1><%= student %></h1>
=======
<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>

<main class="container">
  <div class="text-center">
    <h2>
      <span class="student-header"><%= student.githubUserName %></span>
    </h2>
  </div>
  <div class="student-quizzes row text-center">
    <% student.quizzes.forEach((quiz) => { %>
      <div class="col col-lg-3">
        <a href="/instructors/<%= student.id %>/quiz/<%= quiz.id %>/results"><%= quiz.name %></a>
      </div>
    <% }) %>
  </div>
</main>


