<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
  <h1 class="center">Quizzes</h1>
  <div class="center">
    <% quizzes.forEach((quiz) => { %>
      <h2>
        <a href="/quizzes/<%= quiz.id %>">
          <%= quiz.name %>
        </a>
      </h2>
      <% if(currentUser.instructor) { %>
        <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST">
          <input class="center" type="submit" value="Delete">
        </form>
        <% } %>
          <% }) %>

            <% if(currentUser.instructor) { %>
              <h1>
                <a class="center" href="/quizzes/new">Create Quiz</a>
              </h1>
              <% } %>
    </div>
    <form action="/quizzes/getquiz" method="POST">
      <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select name="quizName" class="form-control" id="exampleFormControlSelect2">
            <% quizzes.forEach((quiz) => { %>
                <option value="<%= quiz._id %>">
                  <%= quiz.name %>
                </option>
                <% }) %>
          </select>
      </div>
      <div>
        <input class="btn btn-success" type="submit">
      </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <%- include('../_partials/footer') %>
