<%- include('../_partials/navInstructor') %>

<main class="container text-center">
  <h1 class="center bold">
    <span class="student-header">Quizzes</span>
  </h1>
  <% if(currentUser && currentUser.instructor) { %>
    <br>
    <br>
    <h1 class="center">
      <a class="center btn btn-success" href="/quizzes/new">Create a Quiz</a>
    </h1>
  <% } %>
  <div class="row">
    <% quizzes.forEach((quiz) => { %>
      <% var questionNum = 0 %>
      <div class="col-sm-3 quiz-card text-center">
        <div class="card-block">
          <h4 class="card-title center"><span class="student-header"><%= quiz.name %></span></h4>
          <% quiz.questions.forEach((question) => { %>
          <% questionNum++; %>
    <% }) %>
      <p class="card-text margin-small">
        <%= questionNum %> questions
      </p>
      <div class="quiz-index">
        <a href="/quizzes/<%= quiz.id %>" class="col col-lg-3"><button class="btn btn-success">Show</button></a>
        <% if (currentUser && currentUser.instructor) { %> 
          <div class="quiz-delete-button"> 
            <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST">
              <input class="center-inline btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        <% } %>
        </div>
      </div> 
    </div>  
  <% }) %> 
  </div>
  <br>
  </main>
          
