<%- include('../_partials/navInstructor') %>
<main class="container">


<h1 class="text-center">Quiz Results: <%= quiz.name %></h1>

<div class="col-sm-12 quiz-card text-center">

<% var alphas = ['A.', 'B.', 'C.', 'D.', 'E.', 'F.'] %>
<% var correctAnswers = 0 %>
<% quiz.questions.forEach((question, idx) => { %>
  <div class="question">
    <p><span>Question&nbsp;<%= idx + 1 %>) </span> <%= question.question %></p>
    <% var answer = user.answers.find(answer => answer.questionId.equals(question._id)) %>
    <span class="result-message">
      <%= answer.result ? 'Correct' : 'Incorrect' %>
      <% if (answer.result) { %>
        <img src="https://i.imgur.com/i043nj7.png">
        <% } else { %>
          <img src="https://i.imgur.com/kVrWVm4.png">
          <% } %>
        </span>
    <ul>
      <% question.options.forEach((option, idx) => { %> 
        <li>
          <span class="<%= (question.correctAnswer == option.id) ? 'correct' : null %>"><%= alphas[idx] %></span> <span><%= option.option %> 
          </span>
        </li>
      <% }) %>
    </ul>
  </div>
      <% answer.result ? correctAnswers++ : null %> 

<% }) %>

<h1>You scored <%= ((correctAnswers /  quiz.questions.length ) * 100).toFixed(2) %>% </h1> 

</div>


