<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<<<<<<< HEAD
<div class="container">
  
<h1> <%= quiz.name %><button class="edit">Edit Quiz Name</button></h1>

=======

<h1 class="center bold"> <%= quiz.name %></h1>
<button class="edit">Edit Quiz Name</button>
>>>>>>> bfe81e1174747f95e729862b740094e59827ca03
<br>
  <div class="row">
   <button class="btn btn-e"><a href='/quizzes/<%= quiz.id %>/questions/new'>Make a Question</a></button>
  </div>
  <form action="/instructors/quizzes/<%= quiz.id %>/cohort/53" method="POST">
    <input type="submit" value="Assign to Cohort">
  </form>
  <% if (!currentUser.instructor) { %> 
    <a  class="cl-effect-21" href='/quizzes/questions/<%= quiz.questions[0].id %>'><button>start quiz</button></a>
  <% } %>
<ol>
    <% quiz.questions.forEach((question) => { %>
    <% if(currentUser && currentUser.instructor) { %>
      <li>&nbsp&nbsp<a href='/quizzes/questions/<%= question.id %>'><%= question.question %></a></li>
      <% } else { %>
            <li>&nbsp&nbsp<%= question.question %></li>
            <% } %>
             <% if(currentUser && currentUser.instructor) { %>
          <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        <% } %>
  <% }) %>
</ol>
</div>
<%- include('../_partials/footer') %>
