<h1> <%= quiz.name %></h1> 
<button class="edit">Edit Quiz Name</button>

<br>
  <div class="row">
   <h2><a href='/quizzes/<%= quiz.id %>/questions/new'>Make a Question</a></h2>
  </div>

<ol>  
    <% quiz.questions.forEach((question) => { %>
      <li>&nbsp&nbsp<a href='/quizzes/questions/<%= question.id %>'><%= question.question %></a></li>
             <% if(currentUser.instructor) { %>
          <form action="/quizzes/<%= quiz.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        <% } %>
  <% }) %>
         

</ol>
</body>
</html>

