<h1><%= question.question %></h1>

<form action="/quizzes/questions/<%= question.id %>/options" method="POST">
  <h3>Answer</h3>
  <textarea placeholder='Answer' name='option' required pattern="\w{4,}"></textarea>
  
  <input type='submit' value='Add Answer'>
</form>

<% question.options.forEach((option) => { %>
  <% if (option) { %>
  <%= option.option %>
  <form action="/quizzes/questions/<%= question.id %>/options/<%= option.id %>\?_method=DELETE" method="POST">
    <input type="submit" value="Delete Answer">
  </form>
   <% } %>
<% }) %>

