<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<h1><%= question.question %></h1>

<form action="/quizzes/questions/<%= question.id %>/options" method="POST">
  <h3>Answer</h3>
  <textarea placeholder='Answer' name='option' required pattern="\w{4,}"></textarea>
  
  <input type='submit' value='Add Answer'>
</form>

<% question.options.forEach((option) => { %>
  <%= option.option %>
  <% if (option._id.equals(question.correctAnswer)) { %>
    <span> CORRECT </span>
  <% } else {%>
  <form action="/quizzes/options/<%= option._id %>/set?_method=PUT" method="POST">
    <input type="submit" value="Set as correct">
  </form>
  <% } %>
  <form action="/quizzes/options/<%= option.id %>\?_method=DELETE" method="POST">
    <input type="submit" value="Delete Answer">
  </form>
<% }) %>
<%- include('../_partials/footer') %>

