<%- include('../_partials/head') %>
<% if(currentUser && currentUser.instructor) { %>
  <%- include('../_partials/navInstructor') %>
<% } else { %>
  <%- include('../_partials/navStud') %>
<% } %>

<% var correctAnswers = 0 %>
<% var counter = 0 %>
<% var quizTitle; %>

<main class="container"> 
  <% student.quizzes.forEach((quiz) => { %>
    <% if (quiz._id == quizId) {%>
      <% quizTitle = quiz.name %>
      <% quiz.questions.forEach((question) => { %>
        <% counter++ %>
        <% student.answers.forEach((answer) => { %>
          <% if (question.id == answer.questionId) { %>
            <% answer.result ? correctAnswers++ : null %>
            <h3><%= question.question %></h3>
            <h2 class="<%= answer.result ?'correct-text' : 'wrong-text' %>"><%= answer.result ? "Correct" : "Wrong" %></h2>
            <% question.options.forEach((option) => { %>
              <% if (question.correctAnswer == option.id) { %>
                <p class="correct"><%= option.option %></p>
              <% } else if(answer.choice == option.id){%>
                <p class="wrong"><%= option.option %></p>
              <% } else { %>
                <p><%= option.option %></p>
              <% } %>
            <% }) %>
          <% } %>
        <% }) %>
      <% }) %>
    <% } %>
  <% }) %>
  <h1><%= student.githubUserName %> scored <%= ((correctAnswers /  counter ) * 100).toFixed(2) %>% on <%= quizTitle %></h1> 
</main>
