<%- include('../_partials/head') %>
<% if(currentUser && currentUser.instructor) { %>
  <%- include('../_partials/navInstructor') %>
<% } else { %>
  <%- include('../_partials/navStud') %>
<% } %>

<% var correctAnswers = 0 %>
<% var counter = 0 %>
<% var quizTitle; %>

<main class="container"> 
  <% student.quizzes.forEach((quiz) => { %>
    <% if (quiz._id == quizId) {%>
      <% quizTitle = quiz.name %>
      <% quiz.questions.forEach((question) => { %>
        <% counter++ %>
        <% student.answers.forEach((answer) => { %>
          <% if (question.id == answer.questionId) { %>
            <% answer.result ? correctAnswers++ : null %>
            <h1><%= question.question %></h1>
            <h2><%= answer.result %></h2>
            <% question.options.forEach((option) => { %>
              <% if (question.correctAnswer == option.id) { %>
                <p class="right"><%= option.option %></p>
              <% } else {%>
                <p class="option"><%= option.option %></p>
              <% } %>
            <% }) %>
          <% } %>
        <% }) %>
      <% }) %>
    <% } %>
  <% }) %>
  <h2><%= quizTitle %></h2>
  <h1><%= student.githubUserName %> scored <%= ((correctAnswers /  counter ) * 100).toFixed(2) %>% </h1> 
</main>
