<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<main class="container">
    <h1><%= quiz.name %> Quiz</h1>
        <form action="/quizzes/<%= quiz.id %>/questions" method="POST">
            <h3>Enter Question</h3>
            <!-- <input type="text" placeholder='Question' name='question' required> -->
            <textarea name='question' required></textarea>
            <input type='submit' value='Create Question'>
        </form><br>
    <button><a href="/quizzes/<%= quiz.id %>">Back</a></button>
</main>
<%- include('../_partials/footer') %>