<!-- <h1><%= question.options %> </h1> -->
<%- include('../_partials/head') %>
<%- include('../_partials/navInstructor') %>
<div id="wrapper-question-show">
<h1>Question:</h1> 
<br>
<h2><span><%= question.question %></span></h2>
<br>

<h4>Answers</h4>
<% var alphas = ['A', 'B', 'C', 'D', 'E', 'F', 'G']%>
<form action="/quizzes/answers" method="POST">
  <% question.options.forEach((option, idx) => { %>
  <label>
    <%= alphas[idx] %>&nbsp;
    <input type="radio" name="selectedOption" value= <%= option.id %>> &nbsp;
    <%= option.option %>
  </label><br>
  <% }) %>
  <br>
  <br>
  <input class="btn btn-success" type="submit" value="Submit Answer">
</form>
<br>
<br>
<% if (currentUser.instructor) { %>
<form action="/quizzes/questions/<%= question.id %>/options/new">
  <input type="submit" class="btn btn-primary" value="Create an Answer"> 
</form>
<% } %>
<%- include('../_partials/footer') %> 
</div>